/* Place CSS styles here */

.l-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  border: 0;
}

body {
  color: pink;
  background-color: #efefef;
  font-family: 'Playfair Display SC', serif;
  font-size: 16px;
}

/* media query for phones */
@media (max-width: 480px) {
  body {
    background-color: teal;
  }
}

/* media query for tablet */
@media (min-width: 481px) and (max-width: 767px) {
  body {
    background-color: maroon;
  }
}

/* media query for desktop */
@media (min-width: 768px) {
  body {
    background-color: peachpuff;
  }
}

label {
  color: rgb(0, 0, 0);
}

p {
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Slab', serif;
  text-transform: uppercase;
}

ul {
  text-align: center;
}

img {
 width: 100%;
 height: auto;
}

h2 {
  color: rgb(135, 17, 135);
}

p {
  color: #00c200;
}

nav a,
.my-button {
  display: inline-flex;
  padding: 16px;
  border: 1px solid white;
  color: #a52a2a;
  margin-top: 4px;
  margin-bottom: 4px;
  text-decoration: none;
  transition: all .25s ease;
}

nav a:hover,
.my-button:hover {
  color: white;
  background-color: #ffc0cb;
}

.my-secondary-button {
  background-color: #00c200;
  color: #000;
}

.my-secondary-button:hover {
  color: #00c200;
  background-color: #000;
}

.koala-paragraph {
  font-size: 20px;
  font-style: italic;
  text-align: center;
}

.koala-featured-image-wrapper {
  text-align: center;
  color: #037030;
  font-weight: 700;
}

.koala-featured-image-wrapper img {
  border: 4px solid red;
  max-width: 800px;
}

.koala-featured-image-image {
  border: 4px solid #00c200;
}


/* Lavendar Chicken section */
.lavendar-chicken-main-wrapper,
.yellow-pig-main-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.lavendar-chicken-header,
.yellow-pig-header {
  display: flex;
  justify-content: space-between;
  background-color: #ffa500;
}

.lavendar-chicken-featured-wrapper,
.yellow-pig-featured-wrapper {
  display: flex;
  background-color: #800080;
}

.lavendar-chicken-main,
.yellow-pig-main {
  flex: 1;
  padding-top: 24px;
  padding-bottom: 24px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.lavendar-chicken-footer,
.yellow-pig-footer {
  background-color: #ffc0cb
}

.lavendar-chicken-feature-items,
.yellow-pig-feature-items {
  display: flex;
  gap: 24px;
}

.lavendar-chicken-feature-item,
.yellow-pig-feature-item {
  background-color: floralwhite
}

.yellow-pig-logo {
  width: 90px;
}
